$secondary: #132A6E;

form {
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  border: 5px solid transparent;
  max-width: 300px;
  button {
    padding: 18px 23px;
    border: none;
    min-width: 57.5px;
  }
  input {
    border: 5px solid transparent;
    max-width: 290px;
    height: 55px;
  }
}
button:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
.calcWrap {
  position: fixed;
  top: 0;
  max-width: 320px;
}
button .clearBut {
  color: $secondary;
}
button:nth-child(11n),
button:nth-child(12n),
button:nth-child(13n),
button:nth-child(14n) {
  padding: 18px 32px;
}

@media (min-width: 750px) {
 .calcWrap {
    position: static;
  }
}
