$another: #ED254E;
$primary: #A97DF9;
$secondary: #333333;
form {
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  border: 0px solid transparent;
  max-width: 300px;
  button {
    padding: 18px 24px;
    border: none;
    min-width: 57.5px;
  }
  input {
    border: 5px solid #BFC3BA;
    background-color: #BFC3BA;
    max-width: 295.5px;
    height: 55px;
  }
}
button:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
.calcWrap {
  position: fixed;
  top: 60px;
  max-width: 320px;
}
.diffBut {
  padding: 18px 67.5px;
}
button .clearBut {
  color: $secondary;
}
button:nth-child(11n),
button:nth-child(12n),
button:nth-child(13n),
button:nth-child(14n) {
  padding: 18px 33px;
}
@media (min-height: 700px) {
 .calcWrap {
  top: 67px;
 }
}

@media (min-width: 730px) {
 .calcWrap {
    position: static;
  }
}
