$another: #ED254E;
$primary: #A97DF9;
$secondary: #333333;
ul li {
  list-style-type: none;
  display: flex;
  flex-wrap: row wrap;
  padding-top: 10px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
}
ul {
  padding: 0px;
  button {
    border: 5px solid transparent;
    background-color: transparent;
  }
}
p {
  letter-spacing: 0.1rem;
  text-align: left;
}
.equals {
  padding: 0px 5px;
}
.detail {
  border: 5px solid transparent;
  position: absolute;
  top: 63%;
  width: 300px;
  max-height: 170px;
  overflow: scroll;
  background-color: #929292;
  color: $secondary;
}
.special {
  width: 300px;
  padding: 0px;
  margin: 0px;
}

@media (min-height: 600px) {
  .detail {
    position: absolute;
    top: 56%;
    max-height: 230px;
  }
}
@media (min-height: 650px) {
  .diffBut {
    padding: 18px 67px;
  }
}
@media (min-height: 700px) {
  .detail {
    position: absolute;
    top: 50%;
    max-height: 317px;
  }
  .diffBut {
    padding: 18px 67.5px;
  }
}
@media (min-height: 750px) {
  .detail {
    position: absolute;
    top: 46%;
    max-height: 365px;
  }
  .diffBut {
    padding: 18px 67px;
  }
}
@media (min-width: 730px) {
  .detail {
    position: static;
  }
}
@media (min-width: 750px) {
  .detail {
    max-height: 550px;
  }
}
