@mixin fontSize($scale) {
	font-size: $scale * 1px;
	font-size: ($scale / 10) * 1rem;
}
$another: #ED254E;
$primary: #A97DF9;
$secondary: #333333;
html {
  font-size: 62.5%;
  color: $secondary;
  height: 100vh;
  margin: 0 auto;
  max-width: 100%;
}
.opacity {
  background-image: url(../../assets/background.jpg);
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.opacity::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(255,255,255, 0.3);
}
.formWrap {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
body {	
  @include fontSize(16);	
  margin: 0 auto;
  text-align: center;
  color: $primary;
}
h1 {
  @include fontSize(28);
  font-family: 'Montserrat', sans-serif;
  background-color: $secondary;
  color: #f7f7f7;;
  margin: 0 auto;
  margin: 6px auto;
  width: 100%;
  padding: 5px 0px;
  text-transform: uppercase;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  @include fontSize(23);
  margin: 5px;
  color: $secondary;
}
form button {
  @include fontSize(20);
  background-color: $primary;
  color: $secondary;
}
ul li {
  font-family: 'Montserrat', sans-serif;
  @include fontSize(18);
}
input,
.remove {
  font-family: 'VT323', monospace;
  @include fontSize(35);
}
input {
  color: $secondary;
} 
.remove,
.wrapper .calcWrap form .diffBut {
  color: $another;
}
footer {
  position: absolute;
  bottom: 3%;
  margin: 0 auto;
  padding: 0px;
  left: 5px;
  p {
    text-align: center;
    margin: 0px auto;
    background-color: #BFC3BA;
    color: $secondary;
  }
  a {
    text-decoration: none;
    color: $secondary;
  }
  a:hover {
    color: #60E0B7;
  }
  img {
    max-height: 25px;
    max-width: 25px;
  }
}

@media (min-width: 730px) {
  h1 {
    margin: 30px auto;
    width: 340px;
  }
  ul {
    padding: 30px 0px 0px;
  }
  h2 {
    position: fixed;
    background-color: #60E0B7;
    padding: 10px 75px;
    margin-bottom: 30px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between;
    height: 100vh;
  }
  .formWrap {
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
  }
  footer {
    position: static;
    margin: 10px auto;
    width: 95%;
    display: flex;
    justify-content: center;
  }
  .diffBut {
    padding: 18px 67.5px;
  }
}
@media (min-height: 600px) {
footer {
    margin: 0px 0px 0px 20px;
  }
}
@media (min-height: 650px) {
  footer {
    margin: 0px 0px 0px 30px;
  }
}
@media (min-height: 700px) {
  footer {
    margin: 5px 45px;
  }
}